h1 {
    font-size: 60px; 
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-weight: lighter;
}

p {
    font-size: 20px;
    padding-top: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.box {
    font-size: 18px;
    padding-top: 0px;
    margin-top: 0px;
}

#name, #surname, #email {
    font-size: 14px;
    margin-top: 10px;
    padding: 0px;
}

.box4 {
    font-size: 18px;
    margin-bottom: 8px;
}
#role, #feature {
    font-size: 14px;
}

label {
    font-size: 16px;
    position: relative;
    padding-left: 0px;
    
}

input[type=radio] {
    height:8px; width:8px;
    position: relative; 
    bottom: -2px;
    margin-right: 0px;
}

input[type=checkbox] {
    height:8px; width:8px;
    position: ; 
    bottom: 4px;
    margin-right: 1px;
}

#yes, #maybe, #not_sure, #no {
    margin-bottom: 0px;
    margin-top: 8px;
}
#fe, #be, #ds, #ac {
    margin-top: 5px;
}

#comment {
    font-size: 10px;
    line-height: 12px;
    word-spacing: -1px;
    letter-spacing: -0.5px;
}    
#submit {
    font-size: 12px;  
    border: none;
}
